<li id="commentArea-<%=comment.id%>">

    <%
        function upVote(data){

            let bools = false;
            data.findIndex(upvote => {

                if(upvote.user== locals.user.id){

                    <!-- console.log("TRUE DATA",upvote.upVoted); -->
                
                    bools =  upvote.upVoted;
                }

            });

        return bools;

        }


        if(comment.UserOrHotel=="User"){
            var postUserType = "User";
        }
        else{
            var postUserType = "Hotel";
        } 
        
       

   
    %>
    <div id="commentsDiv%>">

        <%if(locals.user.id == comment.user.id){%>

            <b>
                <form action="/posts/comment/delete/" method="post" id="commentDelete-<%=comment.id%>">

                    <input type="hidden" value="<%=comment.id%>" name="cID">

                    <input type="hidden" value="<%=post.id%>" name="pID">

                    <button>
                        <i class="fa-solid fa-delete-left"></i>
                    </button>

                </form>
                
            </b>

        <%}%>


        <span><%=comment.user.name%></span> 
        <span><%=comment.content%></span>
        <form action="/upVote/<%=comment.id%>/?type=Comment&type1=<%=typeOfUser%>" method="POST" id="commentUpVoteForm-<%=comment._id%>">
            
            <div id="commentContainer-<%=comment._id%>">

                <%if(upVote(comment.upVotes) == true){%>
                    <button><i class="fa-regular fa-circle-up"></i></button>
                <%}else{%>
                    <button style="color:white;"><i class="fa-regular fa-circle-up"></i></button>
                <%}%>
                <span>
                    <%= comment.upVotesCount%>
                </span>

            </div>
            
        </form>


    </div>    

</li>



<script>
    new upVoteClass("comment","<%=comment._id%>");
    new deleteComment("<%=comment.id%>")
</script>