<div id="profileMainDiv"  style="padding-top: 10px; padding-bottom: 10px;" class="userDivBody">
<link rel="stylesheet" href="/assets/css/userProfile.css">

<div  class="container d-flex justify-content-center ">
    <div class="cardUser p-3 py-4">
        <div class="text-center"> 
            <%if(UserProfile.avatar){
				var src = `/uploads/userProfile/pics/${UserProfile.avatar}`

            }else{
				var src = "https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"; 
            }%>
			<img src="<%=src%>" alt="" height="100" width="100" class="rounded-circle">
            <h3 class="mt-2"> <%= UserProfile.name%></h3>
			<span class="mt-1 clearfix"> <%= UserProfile.email%></span>
			
			<div class="row mt-3 mb-3">
			
			  <div class="col-md-4">
				<h5>Followers</h5>
				<span class="num">10</span>
			  </div>
			  <div class="col-md-4">
			  <h5></h5>
				<span class="num"></span>
			  </div>
			  <div class="col-md-4">
			  <h5>Following</h5>
				<span class="num">10</span>
			  </div>
			
			</div>
			
			<hr class="line">
			
			<small class="mt-4">Hey there I am using RRR !</small>
              <div class="social-buttons mt-5"> 
			   <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> 
			   <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> 
			   <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> 
			   <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>
			   <button class="neo-button"><i class="fa fa-twitter fa-1x"></i> </button>
			  </div>
			  
			 <div class="profile mt-5">
                <% if(userToVisit==userId){%>
			            <button class="profile_button px-5" id="editProfile"> Edit</button>
                <% } %>
		</div>
			   
        </div>
    </div>

    

</div>
</div>

<!-- posts starting -->


<div id="postDiv">
    <ul  style="list-style-type: none;">

    <%for (post of UserProfile.posts) {%>

        <%- include('Dposts')%>

    <%}%>

    </ul>

</div>

<!-- edit starting -->
<div id="editDiv" style="display: none; ">
	<link rel="stylesheet" href="/assets/css/userProfile_editForm.css">
<div  class="container rounded bg-white mt-5 mb-5 " >

	<form action="/user/profile/update/<%= UserProfile._id %>" method="POST"  autocomplete="off" enctype="multipart/form-data" >
    <div class="row">
			<div class="col-md-3 border-right">
				
				<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"><%=UserProfile.name%></span><span class="text-black-50"><%=UserProfile.email%></span><span> </span></div>
			</div>
			<div class="col-md-5 border-right">
				<div class="p-3 py-5">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<h4 class="text-right">Profile Settings</h4>
					</div>
					<div class="row mt-2">
						<div class="col-md-6"><label class="labels">Name</label><input type="text" name="name" class="form-control" placeholder="first name" value=""></div>
					<!-- <input type="email" name="email"  placeholder="<%= UserProfile.email %>" > -->
						<!-- <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div> -->
					</div>
					<div class="row mt-3">
						<div class="col-md-12"><label class="labels">Email ID</label><input type="text" name="email" class="form-control" placeholder="enter email id" value=""></div>
						<div class="col-md-12"><label class="labels">Caption</label><input type="text" class="form-control" placeholder="enter caption" value=""></div>
						<!-- <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
						<div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
						<div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
						<div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
						<div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
						<div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div> -->
					</div>
					<!-- <div class="row mt-3">
						<div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
						<div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
					</div> -->
					<div class="mt-5 text-center"><span> <button class="btn btn-primary profile-button" type="submit">Save Profile</button> </span> <span> <button id="blackBtn" class="btn btn-primary profile-button" >Back</button></span></div>

				</div>
			</div>
			<div class="col-md-4">
				<div class="p-3 py-5">
					<div class="d-flex justify-content-between align-items-center experience"> <span> <B> Add photo </B></span> <span class="border px-3 p-1 add-experience"></div><br>
					<div class="col-md-12"><label class="labels"></label><input type="file" name="avatar" class="form-control" placeholder="experience" value=""></div> <br>
					<!-- <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div> -->
				</div>
			</div>
   
		</div>
	</form>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="/assets/js/userPage.js"></script>
