<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-switch@3.3.4/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
 <!-- for hotel -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">


 <link rel="stylesheet" href="/assets/css/hotel.css">
<link rel="stylesheet" type="text/css" href="/assets/hotelAssets/stylehotel.css">

<!-- image for back in first tile -->
<% if (HotelProfile.coverPic) {
    var imageForBack1 = "/uploads/hotelProfile/imagesForBack/" + HotelProfile.coverPic;
} else {
    var imageForBack1 = "/uploads/hotelProfile/imagesForBack/imageForBack.jpg";
}
<!-- console.log(imageForBack1) -->
 %>
 
<div class="header1" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .3)), url('<%= imageForBack1 %>') center no-repeat;">
    
    <!-- form for the cover photo -->

    <div id="popup-container3">
        <div id="popup-form3">
            <form action="/hotel/cover"  method="post" enctype="multipart/form-data">
                <div class="p-3 py-5 form-group">
                    <div class="d-flex justify-content-between align-items-center experience"> <span> <B> File </B></span> <span class="border px-3 p-1 add-experience"></div><br>
                    <div class="col-md-12"><label class="labels">Change cover photo</label><input type="file" name="cover" class="form-control" placeholder="cover" value="" required></div> <br>
                </div>
                <button type="submit" class="btn btn-light">Submit</button>
            </form>
            <form action="/hotel/cover/remove" method="get">
                <button type="submit" class="btn btn-danger" style="background-color: #dc3545;">remove</button>
            </form>
            <button id="close-popup3">Close</button>
        </div>
    </div>


    <% if(typeOfUser == 'Hotel' && userToVisit == userId){ %>
    <div id="settings">
        <i id="open-popup3" class="fa fa-cog" style="color: aliceblue; cursor: pointer;"></i>
    </div>
    <%} %>
    <div class="banner">
        
        <div id="left-side" >
            <h1 class="banner-heading"><%= HotelProfile.name %></h1>
            <p class="banner-paragraph">Think Delicious , Eat delicious</p>
    
            <div class="container" >
                 <div class="row align-items-start" style="color: aliceblue;">
    
                        <div class="col text-left" >
                            <h5>Followers</h5>
                            <span id="followers" class="num"><%=followers%></span>
                        </div>  
                        <div  class="col text-center">
                            <% if(followbtn == true){
                                var fvalue = "follow";
                            }
                            else{
                                var fvalue = "unfollow";
                            }
                            console.log(userToVisit,userId)
                                if(userToVisit!=userId){ %>                
                                    <button class="banner-button" onclick="followHotel(value)" id="fbutton" value="<%=HotelProfile.id%>" class="btn btn-primary"><%= fvalue %></button>
                            <% }
                                else{ %>
                                    <button id="open-popup">Edit</button>
                                    <!-- <button  id="fbutton" value="<%=HotelProfile.id%>" >Edit</button> -->
                
                
                                <% }
                                %>
                            <span class="num"></span>
                        </div>
                        <div class="col text-right" >
                            <h5>Following</h5>
                            <span id="following" class="num"><%=following%></span>
                        </div>
                    
                 </div>   
            </div>
             
        </div>
        
        
        <div class="right-side">
            <div class="banner-img" style="background-image: url(https://images.unsplash.com/photo-1560956544-3061773e4b46?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
            </div>
        </div>

    </div>
</div>

<!-- popup form for hotel edits -->
<section >
    <div style="z-index: 999;" id="popup-container">
        <div id="popup-form">
            <a  id="close-popup">&times;</a>
            <div  class="container rounded bg-white mt-5 mb-5 " >
    
                <form action="/hotel/profile/update/<%=HotelProfile.id%>" method="POST"  autocomplete="off" enctype="multipart/form-data" >
                <div class="row">
                        <div class="col-md-3 border-right">
                            
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">hh</span><span class="text-black-50">ho</span><span> </span></div>
                        </div>
                        <div class="col-md-5 border-right">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="text-right">Page Settings</h4>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels">Name</label><input type="text" name="name" class="form-control" placeholder="first name" value=""></div>
                                
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" name="email" class="form-control" placeholder="enter email id" value=""></div>
                                    <div class="col-md-12"><label class="labels">Caption</label><input type="text" class="form-control" placeholder="enter caption" value=""></div>
                                    </div>
                                <div class="mt-5 text-center"><span> <button class="btn btn-primary profile-button" type="submit">Save Profile</button> </span> </div>
            
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center experience"> <span> <B> Add or Change Logo </B></span> <span class="border px-3 p-1 add-experience"></div><br>
                                <div class="col-md-12"><label class="labels"></label><input type="file" name="avatar" class="form-control" placeholder="experience" value=""></div> <br>
                            </div>
                        </div>
               
                    </div>
                </form>
            </div>
          <!-- <button id="close-popup">Close</button> -->
        </div>
    </div>
</section>

<section class="about-us">
    <div class="about-us-content">
        <h1 class="about-us-heading">About us!</h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="large-underline"></div>
        </div>
        <h3 class="sub-heading"> <%= HotelProfile.name %></h3>
        <p class="about-us-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur nibh ut tellus posuere luctus. Nunc vitae luctus risus. Donec viverra aliquam viverra. Morbi gravida tellus non ex accumsan, lobortis molestie turpis mollis. </p>
            <% if(typeOfUser == 'Hotel' && userToVisit == userId){ %>
                <button id="open-popup1" class="about-us-button">
                    Edit Podium
                    <i class="fas fa-angle-double-right btn-arrow"></i>
                </button>

            <%} %>
    </div>

    <div class="about-us-images">
    
        
        <%  
            var array1  = [];
            for(i=0;i<HotelProfile.collage.length;i++){
                if(HotelProfile.collage[i] == ""){
                     var temp = "https://cdn.pixabay.com/photo/2016/11/18/22/21/restaurant-1837150_960_720.jpg";
                     array1.push[temp];
                     continue; 
                }

                array1.push[HotelProfile.collage[i]];
            }
        %>

        <%  var image1 =HotelProfile.collage[0] ? "/uploads/hotelProfile/collage/"+ HotelProfile.collage[0] : "https://cdn.pixabay.com/photo/2016/11/18/22/21/restaurant-1837150_960_720.jpg" 
        %>
        <img src="<%= image1 %>" alt="" class="image image1">
        
        <%  var image2 =HotelProfile.collage[1] ? "/uploads/hotelProfile/collage/"+ HotelProfile.collage[1] : "https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" 
        %>
        <img src="<%= image2 %>" alt="" class="image image2">

        <%  var image3 =HotelProfile.collage[2] ? "/uploads/hotelProfile/collage/"+ HotelProfile.collage[2] : "https://cdn.pixabay.com/photo/2017/08/03/21/48/drinks-2578446_960_720.jpg" 
        %>
        <img src="<%= image3 %>" alt="" class="image image3">

        <%  var image4 =HotelProfile.collage[3] ? "/uploads/hotelProfile/collage/"+ HotelProfile.collage[3] : "https://cdn.pixabay.com/photo/2021/02/08/07/39/chef-5993951_960_720.jpg" 
        %>
        <img src="<%= image4 %>" alt="" class="image image4">
    
    </div>	

    <!-- form for collage pics -->
        <!-- <button id="open-popup1">Open Popup Form</button> -->

        <div id="popup-container1">
            <div id="popup-form1">
                <form action="/hotel/collage"  method="post" enctype="multipart/form-data">
                    <!-- <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea> -->


                    <div class="form-group" style="margin-bottom: 30px;">
                        <label for="typeSelect">Select a photo to update</label>
                        <select class="form-control" id="typeSelect" name="Photo">
                        <option value="0">Photo 1</option>
                        <option value="1">Photo 2</option>
                        <option value="2">Photo 3</option>
                        <option value="3">Photo 4</option>
                        </select>
                    </div>
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience"> <span> <B> File </B></span> <span class="border px-3 p-1 add-experience"></div><br>
                        <div class="col-md-12"><label class="labels"></label><input type="file" name="collage" class="form-control" placeholder="collage" value="" required></div> <br>
                    </div>
                    <button type="submit" class="btn btn-light">Submit</button>

                    <!-- <button type="submit">Submit</button> -->
                </form>


                <button id="close-popup1">Close</button>
            </div>
        </div>



</section>


<!-- varities -->
<!-- for menu -->
<section class="var">
    <div class="common-header">
        <h1 class="common-heading">Varieties In  <%= HotelProfile.name %></h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="large-underline"></div>
        </div>
    </div>
    <% if(typeOfUser == "Hotel" && userToVisit==userId){%>
        <div id="open-popup2" class="var-btn-wrapper">
            <button class="var-btn">Add Menu</button>
        </div>
    <% } %>
    <div class="var-wrapper">
                <% for(item of HotelProfile.menuArray){%>
                    <%-include('menu')%>
                <% } %> 

                <!-- <div class="var-card">
                    <img src="https://media.istockphoto.com/photos/chicken-hariyali-kakab-or-malai-malai-kebab-served-with-skewers-and-picture-id1093396546?k=20&m=1093396546&s=612x612&w=0&h=_04gWG6SgceamZguEZ-2T_zXCzUiSDBi0Ic0HMcerwc=" alt="" class="var-img">
                    <div class="var-content">
                        <h4 class="var-heading">Starters</h4>
                        <p class="var-paragraph">All types of starters (veg & non-veg)</p>
                        <p class="var-price"> starting at <span>Rs 100</span></p>
                        <button class="var-button">
                            Order Now
                            <i class="fas fa-angle-double-right btn-arrow"></i>

                        </button>
                    </div>

                </div>

                <div class="var-card">
                    <img src="https://media.istockphoto.com/photos/hands-of-cook-photographing-asian-vegan-dish-picture-id1223803942?k=20&m=1223803942&s=612x612&w=0&h=dGljwKXtVMZudW4fpkDCyo2IJBYzZbbvenhTpF3yAPg=" alt="" height="333px" class="var-img imageteda">
                    <div class="var-content">
                        <h4 class="var-heading">Cuisines</h4>
                        <p class="var-paragraph">Indian , chinese , American ,Russian</p>
                        <p class="var-price"> starting at <span>Rs 149</span></p>
                        <button class="var-button">
                            Order Now
                            <i class="fas fa-angle-double-right btn-arrow"></i>

                        </button>
                    </div>

                </div>

                <div class="var-card">
                    <img src="https://media.istockphoto.com/photos/rajwari-or-rajwadi-sweet-kesar-badam-pista-kulfi-or-ice-cream-candy-picture-id657073780?k=20&m=657073780&s=612x612&w=0&h=NsB0dGlvR4742Y0FS41qKL4i0u57clyAzrO7Ua26E_Q=" alt="" class="var-img">
                    <div class="var-content">
                        <h4 class="var-heading">Deserts</h4>
                        <p class="var-paragraph">Ice-creams , Pasteries , Cakes , Shakes</p>
                        <p class="var-price"> starting at <span>Rs 30</span></p>
                        <button class="var-button">
                            Order Now
                            <i class="fas fa-angle-double-right btn-arrow"></i>

                        </button>
                    </div>

                </div> -->
    </div>

    <div class="var-btn-wrapper">
        <button class="var-btn">check all varieties</button>
    </div>

    <!-- form for adding the menu -->
    <div id="popup-container2">
        <div id="popup-form2">
            <form action="/hotel/addMenu/<%=HotelProfile.id%>"  method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Menu Name:</label>
                    <input type="text" id="name" name="name" placeholder="enter name of the dish" required>
                </div>
                <div class="form-group">
                    <label for="email">Detail:</label>
                    <input type="text" id="" name="content" placeholder="enter description" required>
                </div>
                <div class="p-3 py-5 form-group">
                    <div class="d-flex justify-content-between align-items-center experience"> <span> <B> File </B></span> <span class="border px-3 p-1 add-experience"></div><br>
                    <div class="col-md-12"><label class="labels"></label><input type="file" name="picturePath" class="form-control" placeholder="Menu" value="" required></div> <br>
                </div>
                <button type="submit" class="btn btn-light">Submit</button>
            </form>
            <button id="close-popup2">Close</button>
        </div>
    </div>
</section>

<!-- customers -->
<section class="customers">
    <div class="common-header">
        <h1 class="common-heading">Customer's Talk</h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="large-underline"></div>
        </div>
    </div>

    <p class="customers-paragraph">The below feedback is from our beloved customers. We appreciate the time and efforts they invest in loving us ! </p>

    <div class="customer-card-wrapper" style="display: flex;"> 

        <%
            var i=0;
            for(item of HotelProfile.reviewPosts){ %>
                if(i>3){
                    break;
                }

                <div class="customer-card">
                    <div class="customer-image-wrapper">
                        <%
                            if(item.user.avatar){%>
                                <img height="136px" src="/uploads/userProfile/pics/<%=item.user.avatar%>" alt="" class="customer-image">
                                
                            <%}
                            else{%>
                                <img height="136px" src="/uploads/userProfile/pics/noprofile.png" alt="" class="customer-image">
                           <% } %>
                    </div>
                    <div class="customer-info">
                        <h3 class="name"><%= item.user.name %></h3>
                        <p class="customer-paragraph1">Happy Customer,</p>
                        <p class="customer-paragraph2"><%= item.content%></p>
                    </div>
                </div>

                <%}%>


        <!-- <div class="customer-card">
            <div class="customer-image-wrapper">
                <img src="https://media.istockphoto.com/photos/happy-mature-man-using-smartphone-while-listening-to-music-picture-id1319763871?b=1&k=20&m=1319763871&s=170667a&w=0&h=c6Z793I7fi4KPqgm4t_xcLY3O75tKLDUXEGmzRAPJpw=" alt="" class="customer-image">
            </div>
            <div class="customer-info">
                <h3 class="name">will smith</h3>
                <p class="customer-paragraph1">Happy Customer,</p>
                <p class="customer-paragraph2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor rerum fugiat ad distinctio at tenetur, soluta corrupti vero reprehenderit odit earum, quis accusamus nam inventore, dolorum in aspernatur error eveniet?</p>
            </div>
        </div> -->
    </div>
</section>
<!-- footer -->
<div class="footer">
    <div class="main">
        <div class="footer-list-wrapper">
            <h3 class="footer-heading sarr"> <%= HotelProfile.name %></h3>
            <ul class="footer-list">
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        support_dinehouse@gmail.com
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        Near Kims , Srikakulam 532410
                    </a>
                </li>
                <li class="footer-list-item">
                    <a href="#" class="footer-list-link">
                        Tel : 9849946366
                    </a>
                </li>
            </ul>
        </div>

        

    </div>
        

    <div class="creator-part">
        <div class="copyright-text">
            <p>Copyright &copy; 2023 </p>
        </div>
        <div class="text-right">
            <p>Made with love from <span>OSCAR</span></p>
        </div>
    </div>

</div>


<% if(typeOfUser == "Hotel" && userToVisit==userId){%>

    <script>
        const openPopupButton = document.getElementById("open-popup");
        const closePopupButton = document.getElementById("close-popup");
        const popupContainer = document.getElementById("popup-container");
    
        openPopupButton.addEventListener("click", () => {
        popupContainer.style.display = "flex";
        });
    
        closePopupButton.addEventListener("click", () => {
        popupContainer.style.display = "none";
        });
    
        // collage script
        const openPopupButton1 = document.getElementById("open-popup1");
        const closePopupButton1 = document.getElementById("close-popup1");
        const popupContainer1 = document.getElementById("popup-container1");
    
        openPopupButton1.addEventListener("click", () => {
        popupContainer1.style.display = "flex";
        });
    
        closePopupButton1.addEventListener("click", () => {
        popupContainer1.style.display = "none";
        });

        // for menu form
        const openPopupButton2 = document.getElementById("open-popup2");
        const closePopupButton2 = document.getElementById("close-popup2");
        const popupContainer2 = document.getElementById("popup-container2");
    
        openPopupButton2.addEventListener("click", () => {
        popupContainer2.style.display = "flex";
        });
    
        closePopupButton2.addEventListener("click", () => {
        popupContainer2.style.display = "none";
        });

        // for cover photo
        const openPopupButton3 = document.getElementById("open-popup3");
        const closePopupButton3 = document.getElementById("close-popup3");
        const popupContainer3 = document.getElementById("popup-container3");
    
        openPopupButton3.addEventListener("click", () => {
        popupContainer3.style.display = "flex";
        });
    
        closePopupButton3.addEventListener("click", () => {
        popupContainer3.style.display = "none";
        });
    </script>
<%}%>


<script type="text/javascript" src="/assets/js/hotel.js"></script>
