<span style="margin-left: 1200px;">
    <a href="/"><button>Home</button></a>
</span>

<div >
                
    <div>
      <h5>Followers</h5>
      <span id="followers" class="num"><%=followers%></span>
    </div>  
    <div >
      <% if(followbtn == true){
          var fvalue = "follow";
      }
      else{
          var fvalue = "unfollow";
      }
      console.log(userToVisit,userId)
          if(userToVisit!=userId){ %>                
              <button onclick="followHotel(value)" id="fbutton" value="<%=HotelProfile.id%>" class="btn btn-primary"><%= fvalue %></button>
      <% }
          %>
      <span class="num"></span>
    </div>
    <div >
    <h5>Following</h5>
      <span id="following" class="num"><%=following%></span>
    </div>
  
  </div>

    <div>
        
        <h1>Hotel Name :-  <%= HotelProfile.name %> </h1>

        <%if(typeOfUser == "Hotel"){%>
            
            <h2 style="text-align: center;">menu </h2>

            <br>

            <form action="/hotel/addMenu/<%=HotelProfile.id%>" method="POST" enctype="multipart/form-data">
                <input type="file" name="picturePath" required>
                <input type="text" name="name" id="" placeholder="Enter name of Dish">
                <input type="text" name="content" placeholder="Decribe about the item">
                <input type="submit" value="Add menu">
            </form>


        <%}%>

        <div id="menuArray" style="border: 2px solid black; display: flex; justify-content: space-between; padding: 2rem;">
            <% for(item of HotelProfile.menuArray){%>

                <%-include('menu')%>
                 
             <% } %>   
        </div>

        <h2>reviews</h2>

        <ul>

            <!-- <%console.log(HotelProfile.reviewPosts)%> -->

            <%for (post of HotelProfile.reviewPosts) { %>

                <%-include('posts')%>
    
            <%}%>

        </ul>

        
         
    

         

    </div>

     

<script type="text/javascript" src="/assets/js/hotel.js"></script>



