<div class="var-card">
    <img  src="<%= item.picturePath%>" alt="" class="var-img"  >
<div class="var-content">
    <h4 class="var-heading"><%= item.name %></h4>
    <p class="var-paragraph"><%= item.content %></p>
    <div id="average-<%=item.id%>">

        <span id="span-<%=item.id%>">
            <!-- present rating : <%= item.averageRating %>  -->
            <p class="var-price"> <%= item.averageRating %>  &#9733;</p>
        </span>

    </div>  

    <%if(locals.user.id != HotelProfile._id && typeOfUser!="Hotel") {%>

        <%-include ("rating.ejs")%>

    <%}
        else if(typeOfUser == "Hotel" && userToVisit==userId){ %>
        <%-include('toggleMenu')%>
            
       <% } %>

    <!-- <button class="var-button">
        Order Now
        <i class="fas fa-angle-double-right btn-arrow"></i>

    </button> -->
</div>

</div>

<script>

    new ratingClass("<%=item.id%>","<%=locals.user._id%>")

</script>    