<style>
    #menuAv{
        background-color: #a09898;
        opacity: 70%;
    }
</style>
<% 
        console.log(typeOfUser)

        if( typeOfUser!="Hotel"){

                if(!item.isAvailable ){
                var id1 = "menuAv";
            } 
            else{
                var id1 = "";

            }
        }
    %>
<div id="<%=id1%>" style="margin-right: 20px; ">

    <%if(typeOfUser == "Hotel"){%>

        <div>
            <%-include('toggleMenu')%>
        </div>

    <%}else{%>

        <%if(!item.isAvailable){%>
            
            <span>This Item is Currently Unavailable</span>

        <%}%>

    <%}%>

     

  
    <h3>menu Name : <%= item.name%></h3>
<!-- 
    <span>
        <%= item.content%>
    </span> -->
    
    
    <div>
    <img src="<%=item.picturePath%>" alt="menuPic" class="img-fluid" style="width: 300; height: 300;">
    </div>

    <div id="">
        <h4><%=item.content%></h4>

        <%if(locals.user.id != HotelProfile._id && typeOfUser!="Hotel") {%>

            <%-include ("rating.ejs")%>

        <%}%>
        
        <div id="average-<%=item.id%>">

            <span id="span-<%=item.id%>">
                present rating : <%= item.averageRating %> 
            </span>
    
        </div>  

    </div>
</div>
<script>

    new ratingClass("<%=item.id%>","<%=locals.user._id%>")

</script>