<%
function upVote(data){
    
    let bools = false;
    
    data.findIndex(upvote => {
        
        if(upvote.user.id == locals.user.id){
            
                bools =  upvote.upVoted;
            }

        });

       return bools;

    }


%>

<!-- route information ,whether the post from the user or hotel -->
<% if(post.UserOrHotel=="User"){
    var postUserType = "user";
}
else{
    var postUserType = "hotel";

}%>

<li class="postItem" id="post-<%=post._id%>">

    <div>

        <div>
           <a href="/<%=postUserType%>/profile/<%=post.user.id%>/<%=locals.user._id%>"> <span><%= post.user.name %></span> </a>
        </div>

        <%if(post.UserOrHotel == "User" && (post.menuModel != null && post.hotelName!= null)){%>

            <span>
                <b>
                    <%=post.user.name%> 
                </b>
            
                shared their experience about 

                <b>
                    <%=post.menuModel.name%> 
                </b>
                 
                they had at

                <b>
                    <%= post.hotelName.name%>
                </b>
                 
            </span>

        <%}%>


        <div>

            <span><%= post.content%></span>

            <img src="<%= post.picturePath %>" alt="" class="img-fluid" style="width: 200; height: 200;">
            
            <form action="/upVote/<%=post.id%>/?type=Post&type1=<%=typeOfUser%>" method="post" id = "postUpVoteForm-<%=post._id%>">
     
                <div id="postContainer-<%=post._id%>">
            
                    <%if(upVote(post.upVotes) == true){%>
                        <button><i class="fa-regular fa-circle-up"></i></button>
                    <%}else{%>
                        <button style="color:white;"><i class="fa-regular fa-circle-up"></i></button>
                    <%}%>
                    <span>
                        <%= post.upVotesCount%>
                    </span>
          
                </div>
                 
            </form>

        </div>


        
        <div>

            <form  id="commentForm-<%=post._id%>" action="/posts/comment/?&type=<%=typeOfUser%>"  method="post" class="commentFormClass">

                <input type="text" name="content" id="" placeholder="comment" required>
                <input type="submit" id="submitComment">
                <label for="submitComment"><i class="fa-solid fa-paper-plane"></i></label>
                <input type="hidden" name="post_id" value="<%=post.id%>">


            </form>

            <script>
                new commentDOMClass(`<%=post._id%>`);
                new upVoteClass("post","<%=post._id%>");
            </script>

             
            

        </div>

            <small >
                <ul id="commentUL-<%=post._id%>" class="commentULClass">
                    <% for(comment of post.comments){%>
                        <%-include('comments')%>
                    <%}%>

                </ul>
            </small>
    </div>

     
</li>