<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"> -->
<link rel="stylesheet" href="/assets/css/posts.css">

<%
function upVote(data){
    
    let bools = false;

    <!-- console.log(data); -->
    
    data.map(upvote => {
        console.log(upvote.user.id , locals.user.id);
        if(upvote.user.id == locals.user.id){
            
                bools =  upvote.upVoted;
                return bools
            }
        });
       return bools;
    }
%>

<!-- route information ,whether the post is from the user or hotel -->
<% if(post.UserOrHotel=="User"){
    var postUserType = "User";
}
else{
    var postUserType = "Hotel";
}%>

<!-- <%console.log(post.UserOrHotel)%> -->

<li class="postItem" id="post-<%=post._id%>">

<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card" style="background-color: rgba(137, 43, 226, 0.616);">
                <div class="d-flex justify-content-between p-2 px-3">
                    <%
                     var profilepic
                        if(post.user.avatar){
                             profilepic = "/uploads/userProfile/pics/" + post.user.avatar;
                             console.log(profilepic)
                        }
                        else{
                            profilepic = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                        }
                    %>
                    
                    <div class="d-flex flex-row align-items-center"> <img src="<%=profilepic%>" alt="no" width="50" class="rounded-circle">
                        <div class="d-flex flex-column ml-2"> <a href="/<%=postUserType%>/profile/<%=post.user.id%>/"><b> <span class="font-weight-bold"><%= post.user.name %></span> </b> </a> 
                            <small >
                                <%if(post.UserOrHotel == "User" && (post.menuModel != null || post.hotelName!= null)){%>
                                    <span>
                                        <b>
                                            <%=post.user.name%> 
                                        </b> 
                                    
                                        shared their experience about
                                        <% if(post.menuModel != null){%>

                                            <b>
                                                <%=post.menuModel.name%> 
                                            </b>
                                             
                                            they had at
                                       <% } %> 
                                        <b>
                                            <%= post.hotelName.name%>
                                        </b>
                                         
                                    </span>
                                <%}%>
                            </small> </div>
                    </div>
                    
                    <%if(locals.user.id == post.user.id){%>
                    <div class="d-flex flex-row mt-1 ellipsis">
                        <form action="/posts/delete/<%=locals.user.id%>/<%=post.id%>/?type=<%=postUserType%>" method="POST">

                            <button>
                                <i class="fa-solid fa-delete-left"></i>
                            </button>
        
                        </form>
                    </div>
                    <%}%>

                </div> <img src="<%= post.picturePath %>" class="img-fluid">
                <div class="p-2">
                    <p class="text-justify"><%= post.content%></p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                         <form action="/upVote/<%=post.id%>/?type=Post&type1=<%=typeOfUser%>" method="post" id = "postUpVoteForm-<%=post._id%>">
                        <div class="d-flex flex-row icons d-flex align-items-center" id="postContainer-<%=post._id%>">
                            <%if(upVote(post.upVotes) == true){%>
                                <button><i class="fa-regular fa-circle-up"></i></button>
                            <%}else{%>
                                <button style="color:white;"><i class="fa-regular fa-circle-up"></i></button>
                            <%}%>
                            <span>
                                <%= post.upVotesCount%>
                            </span>
                        </div>
                        </form>
                        <div class="d-flex flex-row muted-color"> <span><%=post.comments.length%> comments</span> </div>
                    </div>
                    <!-- <div class="comment-input"> <input type="text" class="form-control">
                        <div class="fonts"> <i class="fa fa-camera"></i> </div>
                    </div> -->
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample-<%=post.id%>"  aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa-solid fa-comment"></i>
                    </a>
                    <div class="collapse" id="collapseExample-<%=post.id%>" >
                        <div class="card card-body">
                            <div class="comment-input">

                                <form  id="commentForm-<%=post._id%>" action="/posts/comment/?&type=<%=typeOfUser%>"  method="post" class="commentFormClass">
                                    
                                    <div style="display: flex; justify-content: space-between; ">
                                        <input  style="width: 50%;" class="form-control" type="text" name="content" id="" placeholder="comment" required>
                                        <input  type="submit" id="submitComment">
                                        <label for="submitComment"><i class="fa-solid fa-paper-plane"></i></label>
                                    </div>
                                    <input type="hidden" name="post_id" value="<%=post.id%>">
                    
                    
                                </form>
                    
                                <script>
                                    new commentDOMClass(`<%=post._id%>`);
                                    new upVoteClass("post","<%=post._id%>");
                                </script>
                    
                                 
                                
                    
                            </div>
        
                            <hr>
                            <div class="comments">
        
                                <ul style="list-style-type: none;" id="commentUL-<%=post._id%>" class="commentULClass">
                                    <% for(comment of post.comments){%>
                                        <%-include('comments')%>
                                    <%}%>
                
                                </ul> 
                             
                               
                            </div>
                        </div>
                    </div>
                        
                    
                </div>
            </div>
        </div>
    </div>
</div>

</li>